@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,600;0,800;0,900;1,100;1,400;1,600;1,800;1,900&family=Trade+Winds&family=Uncial+Antiqua&family=UnifrakturCook:wght@700&display=swap");

/* 
  font-family: 'Trade Winds', cursive;

  font-family: 'Uncial Antiqua', cursive;

  font-family: 'UnifrakturCook', cursive; 
  
  font-family: 'Prompt', sans-serif;
*/

/* reset */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 90%);
  font-family: "Prompt", serif;
}
