/* FONT: EB GARAMOND */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: Gravedigger;
  src: url("./assets/font/Gravedigger.ttf");
}
@font-face {
  font-family: "Angel Wish";
  src: url("./assets/font/AngelWish.ttf");
}
/* 
  font-family: 'Trade Winds', cursive;

  font-family: 'Uncial Antiqua', cursive;

  font-family: 'UnifrakturCook', cursive; 
  
  font-family: 'Prompt', sans-serif;
*/

/* reset */
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 90%);
  font-family: "EB Garamond", serif;
}
